////
/// Boilerplate HTML5
///
/// @since 05.11.17
/// @author Matt Smiley <matt@contextualcode.com>
/// @access public
/// @group Contextual Code
///
/// This is the master SASS file for this project.
////

// Imports
    @import "partials/components/boilerplate";
    @import "libs/bulma-0.9.2/bulma"; // Imports Bulma Framework
    @import "libs/ether-master/src/base"; // Imports Ether Framework
    @import "mixins/mixin-main"; // Imports mixins as defined by mixin-main partial. Check Bourbon before creating a mixin to see if it is already available.
    @import "partials/spacing-helpers";

// Theme Variables
    @import "partials/components/main-variables"; // Use this file for custom theme variables

// Imports Requiring Variables
    @import "partials/includes/includes-main"; // Imports optional common features (not to be confused with site features)

///
// Custom stuff starts here
///
    @import "partials/components/layout/masthead";
    @import "partials/components/layout/body";
    @import "partials/components/layout/footer";
    @import "partials/components/content/typography";
    @import "partials/components/content/ul-ol";
    @import "partials/components/content/dl";

    #providers-table {
        z-index: 5;
        margin-bottom: 0px;
    }

    .raw {
        display: block;
        float: right;
        padding: 10px;
        background-color: #002232;
        border-radius: 0 0 6px 6px;
        border: 1px solid #002a3d;
    }

    #clouds {
        min-height: 400px;
        background-image: url("../img/clouds.png");
        background-repeat: repeat-x;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    #clouds {
        animation: animatedBackground 80s linear infinite;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
    }
    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0%; }
    }