html {
//    background: url("../img/repeat.png") repeat;
    background-color: #87ceeb;
}

body {
    color: $black;
    font-size: 18px;
    line-height: 1.25em;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: initial !important;
}

.block {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-small {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    h2 {
        margin-top: 15px;
    }
}

.tac {
    text-align: center;
    p {
        text-align: center;
    }
}

.tar {
    text-align: right;
    p {
        text-align: right;
    }
}