dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 30%;
  background: #002a3d;
  padding: 5px;
  margin: 0;
}
dd {
  float: left;
  width: 70%;
  background: #002232;
  padding: 5px;
  margin: 0;
}