dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 30%;
  border: 1px solid #fff;
  padding: 5px;
  margin: 0;
}
dd {
  float: left;
  width: 70%;
  border: 1px solid #fff;
  padding: 5px;
  margin: 0;
}