////
/// Basic Typography
/// @author Contextual Code
/// @access public
////

h1, .h1 {
  @include heading-xxlarge;
  color: $black;
  font-family: $text-header;
  text-shadow: $text-shadow;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  @include body;
  color: $black;
  font-family: $text-body;
  line-height: 1.2em;
  &.is-large {
    font-size: 24px;
  }
}

a {
  color: $black;
  text-decoration: underline;
  &:hover, &:focus, &:active {
    color: #ccc;
  }
}

.wb {
  word-break: break-all;
}