////
/// Basic Typography
/// @author Contextual Code
/// @access public
////

h1, .h1 {
  @include heading-xxlarge;
  color: $white;
  font-family: $text-header;
  text-shadow: $text-shadow;
}

p {
  @include body;
  color: $white;
  font-family: $text-body;
  &.is-large {
    font-size: 24px;
  }
}

a {
  color: $white;
  text-decoration: underline;
}